.SignInBox {
  width: 100%;
  margin-top: 10%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
}

/* Signin .SignInForm container */
.SignInForm {
  width: 80%;
  max-width: 400px;
  margin: 0;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

/* .SignInForm input fields */
.SignInForm label {
  display: block;
  margin-bottom: 10px;
}

.SignInForm input[type="email"],
.SignInForm input[type="password"] {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* .SignInForm submit button */
.SignInForm button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.SignInForm button[type="submit"]:hover {
  background-color: #0062cc;
}

/* Page title */
h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
}
