.PMainBox
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Pinput
{
    width: 40%;
    padding: 5px 2px 5px 2px;
    margin: 5px 2px 5px 2px;

}
.PMainBox p
{
    width: 100%;
}
.SubmittB{
    margin: 5px 2px 5px 2px;
    width: 100px;
    height: 30px;
}