.MainBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.DetailBox
{
    background-color: green;
    height: 100%;
    width: 65%;

}

.NameBox
{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 26%;
    
}
.NameDiv
{
    padding: 5px 0px 5px 20px;
    margin: 10px 0px 10px 0px ;
    background-color: aliceblue;
    width: 100%;
}

.NameDiv :hover
{
    
    margin: 10px 5px 10px 5px ;
}