.appointment-form {
  align-items: center;
  margin: 30px auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, .08);
  backdrop-filter: blur(1px);
  padding: 20px;
  border-radius: 5px;
  max-width: 450px;
}

.appointment-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.appointment-form input {
  line-height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, .08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08) !important;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  transition: all 0.4s ease;
  border: none;
  outline: none;
}

.appointment-card .title {
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 400;
}

.appointment-card .row {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.appointment-card .col {
  width: calc((100% - 30px) / 2);
}

.appointment-card .group {
  position: relative;
  margin-bottom: 22px;
}

.appointment-card .formLabel {
  font-size: 16px;
  width: 175px;
  margin: 0px 178px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}

.appointment-form input[type="date"],
.appointment-form input[type="time"] {
  padding: 8px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  transition: all 0.4s ease;
  border: none;
  outline: none;
}

.appointment-form button[type="submit"] {
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background: linear-gradient(90deg, rgb(231, 217, 13) 0%, rgb(231, 173, 12) 100%);
  color: #070707;
  outline: none;
  border: none;
  font-weight: bold;
}

.appointment-form button[type="submit"]:hover {
  background: #000000;
  color: #ffffff;
}
